<!DOCTYPE html>
<html>
  <head>
    <title>PostExam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class ="header">
      <p>つぶやき</p> 
    </header>
    <%= yield %>
    <footer class ="footer">
      <p>rails_muzukashii</p>
    </footer>
  </body>
</html>
